.wrapper {
  height: 100vh;
  display: flex;
}

.sideBar {
  width: 300px;
  &__head {
    height: 100px;
    background-color: #F0F2F0;
    display: flex;
    align-items: center;
  }
  &__community {
    height: calc(100vh - 100px);
    background-color: #F0F2F0;
  }
}

.sideBox {
  height: 20px;
  width: 260px;
  background-color: #ffffff;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  &__name {
    color: #333333;
  }
  &__community {
    display: flex;
    list-style: none;
    &__new {
      margin-right: 5px;
    }
  }
  a {
    text-decoration: none;
    color: #333333;
  }
}


.chatMain {
  width: calc(100% - 300px);
  &__head {
    height: 100px;
    background-color: #000C40;
    border-bottom: 1px solid #595959;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    &__leftBox {
      color: #ffffff;
      &__currentCommunity {
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__memberList {
        display: flex;
        color: #ffffff;
        font-size: 12px;
        list-style: none;
        li {
          margin-left: 5px;
        }
      }
    }
    &__editUser {
      color: #ffffff;
      padding: 15px 20px;
      display: flex;
      &__login {
        margin-right: 10px;
      }
    } 
  }
  &__area {
    height: calc(100vh - 190px);
    background-color: #ffffff;
  }
  &__form {
    height: 90px;
    background-color: #000C40;
    padding: 20px 40px;
    &__newMessage {
      display: flex;
      &__textBox {
        height: 50px;
        width: 100%;
        background-color: #ffffff;
        padding: 0 15px;
        border-style: none;
      }
      &__submitBtn {
        height: 50px;
        width: 100px;
        background-color: #ffffff;
        color: black;
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}
